@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Baloo+Bhaijaan+2:wght@400..800&display=swap');
/* common codes */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}
.font {
  font-family: "Baloo Bhaijaan 2", sans-serif;
  font-weight: 600;
}
.container {
  width: 90%;
  margin: 0 auto;
  padding-top: 3rem;
}
.flexbox {
  display: flex;
}
.primary-btn {
  padding: 12px 30px;
  color: #fff;
  font-family: "Baloo Bhaijaan 2", sans-serif;
  font-size: 18px;
  font-weight: 500;
  border: none;
  border-radius: 20px;
  background-color: rgb(230, 83, 60);
}
.common-description {
  font-size: 15px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 2rem;
}

/* header styles */
/* nav styles starts here */
header {
  background: linear-gradient(180deg, rgb(7, 7, 7), rgb(53, 51, 51), rgb(7, 7, 7) 100%);
}
.navbar {
  justify-content: space-between;
  align-items: center;
}
.nav-item {
  justify-content: center;
  align-items: center;
  gap: 30px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 35px;
  padding: 10px;
  color: #fff;
}
.home-btn {
  background-color: rgb(230, 83, 60);
  padding: 5px 10px;
  border-radius: 20px;
}
.nav-logo {
  font-style: italic;
  font-size: 30px;
  font-weight: 800;
  color: rgb(230, 83, 60);
}
.menubar i {
  display: none;
}
/* nav styles ends here */

/* banner styles */
.banner {
  justify-content: space-between;
  align-items: flex-start;
}
.banner-content {
  width: 50%;
  margin-top: 6rem;
  color: #fff;
}
.banner-title {
  font-size: 3rem;
  font-weight: 900;
  line-height: 60px;
  margin-bottom: 2rem;
  letter-spacing: 2px;
}
.special-font {
  font-family: "Italianno", cursive;
  font-size: 90px;
  font-weight: normal;
}
.banner-description {
  font-size: 18px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 2rem;
}
.secondary-btn {
  padding: 12px 30px;
  color: #fff;
  background-color: transparent;
  font-family: "Baloo Bhaijaan 2", sans-serif;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid #fff;
  border-radius: 20px;
  display: inline;
}
.banner-img {
  position: relative;
}
.img img {
  width: 100%;
}
.img-box1 {
  width: 40%;
  padding: 5px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  text-align: center;
  color: #fff;
  border-radius: 12px;
  position: absolute;
  top: 20%;
  right: 5%;
}
.inner {
  width: 47px;
  height: 42px;
  background: rgb(230, 83, 60);
  border-radius: 50%;
}
.img-box2 {
  width: 50%;
  padding: 15px 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
  text-align: center;
  color: #fff;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  bottom: 15%;
  right: 85%;
}

/* banner styles */
/* header styles */

/* main styles */

/* habit styles */

main {
  background-color: #000000;
}
.habit {
  text-align: center;
  flex-direction: column;
}
.habit-title {
  color: #ffffff;
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 12px;
}
.habit-images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}
.habit-img img {
  border-radius: 50%;
}
.habit-img h4 {
  font-size: 18px;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 5px;
}

/* habit styles */

/* run styles */

.run {
  background-color: #222222;
  margin-top: 5rem;
  padding: 3rem;
  gap: 1rem;
  align-items: center;
  border-radius: 2rem;
}
.run-img img {
  width: 100%;
  border-radius: 2rem;
  object-fit: none;
  object-position: 70% 33%;
}

/* run styles */

/* training styles */

.training {
  flex-direction: column;
}
.exercise-card img {
  width: 100%;
  height: 280px;
  filter: brightness(60%);
}
.exercise-card {
  position: relative;
}
.exercise-card p {
  position: absolute;
  color: white;
  font-size: 1.3rem;
  font-weight: 500;
  top: 80%;
  right: 10%;
}
.row-1 {
  display: grid;
  grid-template-columns: 0.6fr 1fr 0.6fr;
}
.row-2 {
  display: grid;
  grid-template-columns: 1.2fr 0.8fr 0.8fr;
}

/* training styles */


/* calculator styles */

.calculator {
  flex-direction: column;
  color: #ffffff;
}
.calculator-content {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.calculator-container {
  justify-content: center;
  gap: 10rem;
}
.calculator-bg {
  background-color: #222222;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.bmi-chart h2 {
  margin-bottom: 1rem;
}
table {
  border-collapse: collapse;
}
table td,
th {
  padding: 10px;
  text-align: center;
  border: 1px solid #656565;
  font-size: 15px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}
table th {
  color: white;
  font-weight: 500;
}
.calculate-bmi {
  width: 40%;
}
.calculate-bmi h2 {
  margin-bottom: 0.9rem;
}
.bmi-btns {
  margin-bottom: 1rem;
}
.first-btn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  margin: 8px;
}
.middle-btn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  margin: 8px;
}
.factor-btn {
  display: grid;
  grid-template-columns: 1fr;
  margin: 8px;
}
.first-btn .first-btn-1 {
  padding: 10px 115px 10px 0px;
  color: #afafaf;
  font-size: 14px;
  font-weight: 500;
  background-color: #383838;
  border: none;
  border-radius: 8px;
}
.first-btn .first-btn-2 {
  padding: 10px 115px 10px 0px;
  color: #afafaf;
  font-size: 14px;
  font-weight: 500;
  background-color: #383838;
  border: none;
  border-radius: 8px;
}
.middle-btn button {
  padding: 10px 150px 10px 0px;
  color: #afafaf;
  font-size: 14px;
  font-weight: 500;
  background-color: #383838;
  border: none;
  border-radius: 8px;
}
.middle-btn select {
  padding: 10px 60px 10px 15px;
  color: #afafaf;
  font-size: 14px;
  font-weight: 500;
  background-color: #383838;
  border: none;
  border-radius: 8px;
}
.factor-btn select {
  padding: 10px 120px 10px 0px;
  color: #afafaf;
  font-size: 14px;
  font-weight: 500;
  background-color: #383838;
  border: none;
  border-radius: 8px;
}
.bmi-content {
  margin: 8px;
}
.calculate-btn {
  margin: 8px;
}
/* calculator styles */

/* team styles */

.team {
  flex-direction: column;
  padding-bottom: 5rem;
}
.team-content {
  text-align: center;
  margin-bottom: 10px;
}
.team-imgs-container {
  background-color: #191919;
  padding: 1rem;
  border-radius: 1rem;
}
.team-card img {
  width: 100%;
  height: 350px;
  border-radius: 1rem;
  filter: brightness(60%);
}
.team-card {
  position: relative;
}
.team-card h2 {
  position: absolute;
  color: #ffffff;
  top: 80%;
  left: 5%;
  font-size: 1.2rem
}
.team-card p {
  position: absolute;
  top: 90%;
  left: 5%;
  color: #636362;
}
.team-row-1,
.team-row-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-bottom: 1rem;
}

/* team styles */


/* unique styles */

.unique{
  background-color: #222222;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
.unique-title{
  font-size: 28px;
}
.unique-video video{
  width: 100%;
  border-radius: 1rem;
}
.unique-content{
  color: #fff;
}

/* unique styles */

/* main styles */


/* footer styles */

footer{
  background-color: #191919;
}
.footer-container{
  justify-content: space-around;
  align-items: center;
  color: #ffffff;
}
.footer-left{
  width: 30%;
}
.footer-left h1{
  margin-bottom: 10px;
}
.footer-right, .footer-middle{
  text-align: start;
}
.footer-right > h3{
  margin-bottom: 10px;
}
.footer-middle > h3{
  margin-bottom: 10px;
}
.footer-right p{
  color: #686868;
  margin-bottom: 5px;
}
.footer-middle p{
  color: #686868;
  margin-bottom: 5px;
}
.footer-hr{
  width: 80%;
  margin: 1.5rem auto;
  border: 0.1px solid #686868;
}
.footer-last {
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 1rem;

}

/* footer styles */

/* CSS media queries starts here */

/* Small devices */

@media screen and (max-width: 576px) {
  .nav-item {
    display: none;
  }
  .menubar i {
    display: block;
    color: #fff;
  }
  .banner {
    flex-direction: column;
    width: 100%;
    margin: 1rem auto;
    margin-bottom: 0px;
  }
  .banner-content {
    width: 80%;
    margin: 0 1rem;
  }
  .banner-img {
    width: 100%;
  }

  .img-box2 {
    right: 50%;
    bottom: 15%;
    width: 40%;
  }
  .secondary-btn {
    margin-top: 10px;
  }
  .inner {
    width: 55px;
    height: 32px;
  }
  .habit-images {
    width: 100%;
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .habit-img img {
    width: 75%;
  }
  .run,
  .footer-container{
    flex-direction: column;
  }
  .run-content button {
    width: 100%;
  }
  .run{
    padding: 1rem;
  }
  .run-img img {
    object-fit: contain;
  }
  .row-1,
  .row-2,
  .team-row-1,
  .team-row-2 {
    grid-template-columns: 1fr;
  }
  .calculator-container {
    flex-direction: column;
    gap: 5rem;
  }
  .bmi-chart table {
    width: 100%;
  }
  .calculate-bmi {
    width: 100%;
  }
  .bmi-content {
    text-align: center;
  }
  .first-btn,
  .middle-btn,
  .factor-btn {
    margin: 8px 0;
  }
  .first-btn .first-btn-1{
    padding: 10px 60px 10px 0px;
  }
  .first-btn .first-btn-2{
    padding: 10px 60px 10px 0px;
  }
  .middle-btn button{
    padding: 10px 60px 10px 0px;
  }
  .factor-btn select {
    padding: 10px 100px 10px 0px;
  }
  .unique{
    flex-direction: column-reverse;
    padding: 1rem;
  }
  .unique-content{
    text-align: center;
  }
  .unique-content button{
    width: 100%;
  }
  .footer-left, 
  .footer-middle,
  .footer-right{
    width: 70%; 
    margin-bottom: 10px;
  }
}

/* Medium devices */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .banner {
    flex-direction: column;
    width: 100%;
    margin: 1rem auto;
    margin-bottom: 0px;
  }
  .banner-content {
    width: 80%;
    margin: 0 auto;
  }
  .banner-img {
    width: 100%;
  }
  .img-box2 {
    right: 60%;
  }
  .habit-images {
    width: 100%;
    gap: 20px;
  }
  .habit-img img {
    width: 100%;
  }
  .first-btn .first-btn-1{
    padding: 10px 60px 10px 0px;
  }
  .first-btn .first-btn-2{
    padding: 10px 60px 10px 0px;
  }
  .middle-btn button{
    padding: 10px 60px 10px 0px;
  }
  .factor-btn select {
    padding: 10px 80px 10px 0px;
  }
}

/* CSS media queries ends here */
